<nav class="navbar navbar-expand-sm bg-dark">
    <ul class="nav navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="#">AngularReady</a>
        </li>
        <li class="nav-item">
            <a [routerLink]="['/events']" class="nav-link" href="#">All Events</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/events/new']" href="#">Create Events</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                Events
            </a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Link 1</a>
                <a class="dropdown-item" href="#">Link 2</a>
                <a class="dropdown-item" href="#">Link 3</a>
            </div>
        </li>

    </ul>
    <div class="collapse navbar-collapse justify-content-end" id="navbarCollapse">
        <ul class="nav navbar-nav navbar-right">
            <form class="form-inline" action="/action_page.php">
                <input class="form-control mr-sm-2" type="text" placeholder="Search">
                <button class="btn btn-success" type="submit">Search</button>
            </form>
            <li class="nav-item float-right">
                <a class="nav-link" href="#">Welcome John</a>
            </li>
        </ul>
    </div>
</nav>